@mixin mobile {
  @media (min-width: #{$resolution_sm}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$resolution_md}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$resolution_lg}) {
    @content;
  }
}

@mixin clearlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin dots-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin wrapper {
  padding: 0 $global_indent_sm;

  @include tablet {
    padding: 0 $global_indent;
  }
}
