$path: '../images/';
$path_icon: '../images/icons';

$resolution_sm: 360px;
$resolution_md: 768px;
$resolution_lg: 1024px;

$global_indent_sm: 15px;
$global_indent: 20px;
$global_indent_big: 60px;
$global_indent_xl: 170px;
