.root {
  &__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px;

    @include tablet {
      display: none;
    }
  }
}

.item {
  &:hover {
    text-decoration: none;
  }

  &Active {
  }
}
